<div layout="row">
    <div flex="10"></div>
    <md-card flex>
        <md-toolbar layout="row" layout-align="center center" class="md-whiteframe-z1">
            <h1 class="md-headline">We have a WINNER!!</h1>
        </md-toolbar>
        <md-content layout="row" layout-align="center center">
            <h1>{{winnerCtrl.winner}} is the new EMPEROR</h1>
        </md-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <a class="md-button" href="#/local/selectplayers">Play Again</a>
        </div>
    </md-card>
    <div flex="10"></div>
</div>
