<div layout="row">
    <div flex="10"></div>
    <md-card flex>
        <md-toolbar layout="row" layout-align="center center" class="md-whiteframe-z1">
            <form name="form1" method="post" action="api/rules/" enctype="multipart/form-data">
                <md-input-container>
                    <label>rule file</label>
                    <input type="file" />
                </md-input-container>
                <input type="submit" value="upload"/>
                <!--<md-button>
                    <ng-md-icon icon="file_upload"></ng-md-icon>
                </md-button>-->
            </form>
        </md-toolbar>
        <md-content layout="row" layout-align="center center">

        </md-content>
    </md-card>
    <div flex="10"></div>
</div>

