<md-content layout="row">
    <div flex="10"></div>
    <md-card flex>
        <md-toolbar layout="row" layout-align="center center" class="md-whiteframe-z1">
            <h1>Ranking</h1>
        </md-toolbar>
        <md-card-content>
            <md-content>
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="line in rankingCtrl.ranking">
                        <div class="md-list-item-text">
                            <h3>{{line.Name}}</h3>
                            <h4>Game Wins: {{line.GamesWins}}</h4>
                            <h4>Game Loses: {{line.GamesLoses}}</h4>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-card-content>
    </md-card>
    <div flex="10"></div>
</md-content>


